.container {
  width: 100%;
}

.content {
  max-width: 98rem;
  margin: 0 auto;
  color: var(--text-over-primary);
}

.content section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
