.btn {
  padding: 0.5rem 10rem;
  border-radius: 8px;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(75%);
  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.btn svg {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
}

.green {
  color: var(--text-over-primary);
  background-color: var(--primary);
}

.red {
  color: var(--text-over-error);
  background-color: var(--error);
}
