*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.logo {
    width: 20%;
}

.title{
    margin: 1rem 0;
}

.button{
    padding: 0.3rem 0.5rem;
    margin: 0.3rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}

.button2{
    margin: 1rem;
    background-color: green;
    padding: 0.8rem 1rem;
    box-shadow: none;
    border: 1px solid black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.output{
    background-color: azure;
    width: 400px;
    text-align: center;
}

.ativo{
    background-color: green;
    color: white;
}