.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.logo {
  text-decoration: none;
  font-style: none;
  color: var(--primary);
  font-size: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-weight: bold;
}

.logo:hover {
  filter: brightness(75%);
  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.div svg {
  height: 6.2rem;
  width: 6.2rem;
}
