.input {
  color: var(--text-default);
  text-align: center;
  font-size: 1.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid var(--primary);
  padding: 1rem 3rem;
}

.input::placeholder {
  font-style: italic;
  letter-spacing: 0.5px;
  color: var(--gray-500);
}

.input:focus {
  border: 3px solid var(--primary);
  border-radius: 8px;
}

.input:disabled {
  border-bottom: 3px solid var(--disabled);
  color: var(--text-muted);
}
