.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-top: 5rem;
}

.icon:hover {
  filter: brightness(75%);
  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.div svg {
  color: var(--text-over-primary);
  background-color: var(--primary);
  padding: 1.2rem;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 8px;
}
